<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              I received both BEng degree in computer science and in mathematics from SungKyunKwan University (SKKU) in 2013,
              and received Masters degree in Knowledge Service Engineering from Korea Advanced Institute of Science and Technology (KAIST) in 2015.
              After spending 2 years of wandering to become self-motivated person, I began working as a Data Analyst&Lecturer in D:Plus.
              Now I am a PhD candidate in computer science and Engineering from Hong Kong University of Science and Technology (HKUST) beginning
              from 2018 fall semester, supervised by prof. Dit-Yan Yeung. My prior interest is in the field of Machine learning in education.
            </p>
            <p>
              <i>Learning</i> is a fascinating keyword for me which I have had in mind in my 20's. It covers both <i>how machines learn</i> and <i>how people learn</i>.
              As a researcher, I try to solve problems in Natural Language Processing (NLP) to help students be more communicative with artificial intelligence in more natural way.
              <li>Objective: high quality text (sentence) generation.</li>
              <li>Keywords: analogical reasoning, conceptual blending, and discrete compositional reasoning.</li>

            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              <b>Links</b>
              <li><a href="https://www.facebook.com/woneui.hong" target="_blank">[Facebook]: Personal (Korean)</a></li>
              <li><a href="https://www.facebook.com/eric.hong.9066" target="_blank">[Facebook]: Personal (English)</a></li>
              <li><a href="https://sites.google.com/view/woneuihong" target="_blank">[Google site]: Official (English)</a></li>
              <li><a href="https://blog.naver.com/laftworld" target="_blank">[Naver blog]: Traveler's life (Korean)</a></li>
              <li><a href="https://learningengineer.tistory.com/" target="_blank">[T story blog]: Researcher's life (Korean)</a></li>
              <li><a href="https://www.youtube.com/watch?v=_clAIridH4o&list=PLEkZgsocS9J3fOltTA4DRK1HyM9IYAhI2" target="_blank">[Youtube]: VLog (under construction)</a></li>
            </p>
            <p>
              <b>On-going projects</b>
              <li><a href="https://docs.google.com/spreadsheets/d/1zg3t9jDFoAsQ1aFDJNPNALtUCLk0j69rSLyqh8oSVVw/edit?usp=sharing" target="_blank">LAN-wired online lecture series</a></li>
              <li><a href="https://docs.google.com/document/d/13VahrtFruHjbEyEE2uhG7fJ35KqSUu-kC_6c_W4Su5M/edit" target="_blank">Online-supervising</a>, <a href="https://docs.google.com/document/d/1gpEqopJvlz1dWFs3HuJPGfUebBuICl2hjdS9Qhbh17M/edit?usp=sharing">Manual</a></li>
              <li><a href="https://docs.google.com/presentation/d/1BY9dkvaoduXpSp8C7QnIFCRFmruRAfc6IlUEiGW2rNU/present?slide=id.g4d36786b5c_2_300" target="_blank">One-page machine learning (offline lecture)</a></li>
            </p>
            <p>
              <b>Partners</b>
              <li><a href="http://www.dplus.company/" target="_blank">DPlus</a></li>
              <li><a href="http://nota.ai/" target="_blank">NOTA</a></li>
            </p>
        </div>
    </div>
</section>
