<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              I received both BEng degree in computer science and in mathematics from SungKyunKwan University (SKKU) in 2013, and MS degree in Knowledge Service Engineering  from Korea Advanced Institute of Science and Technology (KAIST) in 2015. After spending 2 years of wandering to become self-motivated person, I began the career as Data Analyst&Lecturer@D:Plus. Now I am a PhD candidate in computer science and Engineering from Hong Kong University of Science and Technology (HKUST) beginning from 2018 fall semester, supervised by prof. Dit-Yan Yeung. My prior interest is in the field of Machine learning in education.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              <li><a href="https://www.facebook.com/woneui.hong">[Facebook]</a></li>
              <li><a href="https://sites.google.com/view/woneuihong">[Google site]</a></li>
              <li><a href="https://blog.naver.com/laftworld">[Naver blog]</a></li>
              <li><a href="https://opentutorials.org/module/3653">[One page machine learning (Korean)]</a></li>
              <li><a href="https://www.youtube.com/channel/UCxtWc6MPoiPaP62UCUClqPA/featured?view_as=subscriber">[Youtube]</a></li>
              <li><a href="https://learningengineer.tistory.com/">[T story blog]</a></li>
              <li><a href="https://brunch.co.kr/@laftworld">[Brunch]</a></li>
            </p>
        </div>
    </div>
</section>
