<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include tracking.html %}
    <body>
        {% include navbar.html %}
        {% include top.html %}
        {% include about.html %}
        {% include instagram-ml.html clientId="8d85e9692e04437daafede0336f8b84e" userId="12872809913" accessToken="12872809913.8d85e96.283bff5b2159437fbd634fc4632c099c" %}
        <br>
        {% include instagram-hl.html clientId="b2866615cb794b31979478c974e83811" userId="3104236529" accessToken="3104236529.b286661.418d232c288c4d2cbeaa51f3dca4c407" %}
        {% include contacts.html %}
        {% include copyright.html %}
        {% include mathjax.html %}
    </body>
</html>
