<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include navbar.html %}
        {% include top.html %}
        {% include about.html %}
        {% include instagram-hl.html clientId="b2866615cb794b31979478c974e83811" userId="3104236529" accessToken="3104236529.b286661.418d232c288c4d2cbeaa51f3dca4c407" %}
        {% include instagram-ml.html %}
        {% include facebook.html %}
        {% include contacts.html %}
        {% include copyright.html %}
        {% include tracking.html %}
    </body>
</html>


%
